// .form__container{
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     align-items: center;
//     // align-content: space-around;
//     justify-content: center;
//     border: 1px solid black;
//     width: 800px;
//     height: 600px;
//     // padding-top: 100px;
//     box-shadow: 21px 13px 18px 1px #000000;
//     border-radius: 30px;
    
// }
// .btn__delete{
    
//     // margin-top: 50px;
//     // margin-right: 40px;
//     // all:unset;
//     background-color: red;
//     // padding-right: 10px;
//     border-radius: 10px;
//     border:red;
//     // margin-top: 100px;
//     // margin-left: 200px;
    

   
    
// }
// .btn__container{
//     display: flex;
//     justify-content: right;
    

// }
.contenedor_profil {
    background-image: url("../../assets//img//luxury.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}