*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dongle&family=Oswald:wght@200&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-image: url('./assets/img/fondo2.jpg');
  // background-position:inherit;
  // background-repeat: no-repeat;
  // background-size: cover;
  // // min-height: 90vh;

  
  


}
body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background: #414141;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
