.test2{
    
   
    background-color:black;
    color:white;
    background-image: url('../../assets//img/fondo2.jpg');
    background-position:inherit;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    /* height: 100%; */
    
}